<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ShootNBunnyEntities2" connectionString="metadata=res://*/ShootNBunnyDB.csdl|res://*/ShootNBunnyDB.ssdl|res://*/ShootNBunnyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NOTACOMP;initial catalog=ShootNBunny;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShootNBunnyEntities" connectionString="metadata=res://*/ShootNBunnyDB.csdl|res://*/ShootNBunnyDB.ssdl|res://*/ShootNBunnyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NOTACOMP;initial catalog=ShootNBunny;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShootNBunnyEntities1" connectionString="metadata=res://*/ShootNBunnyyDB.csdl|res://*/ShootNBunnyyDB.ssdl|res://*/ShootNBunnyyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NOTACOMP;initial catalog=ShootNBunny;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>